.admin{
    height: 100vh;
    width: 100%;
    background-color: green;
    overflow: hidden;
}
.protected{
    display: none;
}
.AuthGuard{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #fff;
}

.auth{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50% , -50%);
}
.auth__heroText{
    position: relative;
    top: 20%;
}
.auth__heroText .heroText{
    font-family: 'Cormorant Garamond', serif;
    word-break: break-all;
    font-size: 96px;
    font-weight:0;
    color: #fff;
  
    position: absolute;
  
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hide{
    display: none;
}