.flash{
    display: none;
    border:1px solid green;
    background-color: rgba(50, 214, 50, 0.562);
    padding: .5rem .25rem;
}
.succes{
    border-color: green;
    background-color: rgba(50, 214, 50, 0.562);
}
.error{
    border-color: red;
    background-color:rgb(241, 80, 80);
}
