
.flatPicker{
    position: absolute;
    display: none;
    z-index: 999;
    top:100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: var(--shadowLight);
    border-radius:10px 10px 10px 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 24px;
    animation: fadeIn .5s ease-in forwards ;
}


@keyframes fadeIn{
    100%{
        opacity: 1;
        top: 120%;
    }
}

.flatPicker_left{
    left: 10%;
}
.flatPicker_right{
    right: 10%;
}




.flatPicker__months{
    display: flex;
    width: 307.875px;
    position: relative;
}

.flatPicker__month{
    background: transparent;
    color: #3c3f40;
    fill: #3c3f40;
    height: 34px;
    line-height: 1;
    text-align: center;
    position: relative;
    user-select: none;
    overflow: hidden;
    flex: 1;
}

.flatPicker__current_month{
    font-size: 135%;
    line-height: inherit;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 7.48px 0 0;
    line-height: 1;
    height: 34px;
    display: inline-block;
    text-align: center;
    transform: translateZ(0);
}


.numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block;
}
.numInputWrappe input.cur-year {
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: text;
    padding: 0 0 0 .5ch;
    margin: 0;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.numInputWrapper input {
    width: 100%;
}
.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(64,72,72,.15);
}
.arrowUp{
    top: 0;
    border-bottom: 0;
}
.arrowDown{
    top: 50%;;
}



.flatPicker__next_month, .flatPicker__prev_month {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 34px;
    padding: 10px;
    z-index: 3;
    color: #3c3f40;
    fill: #3c3f40;
}

.flatPicker__prev_month {left: 0;}
.flatPicker__next_month {right: 0;}
.flatPicker__next_month svg, .flatPicker__prev_month svg {width: 14px; height: 14px;}
.flatPicker__inner{ width: 307.875px;}

.flatPicker__weekdays{
    display: flex;
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    align-items: center;
    height: 28px;
}
.weekday{
    flex: 1;
    font-size: 90%;
    background: transparent;
    color: rgba(0,0,0,.54);
    line-height: 1;
    text-align: center;
    display: block;
    font-weight: bolder;
}



.flatPicker__daysContainer{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-around;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  outline: 0;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  opacity: 1;
}
.flatPicker__day{
    border: 1px solid #e9e9e9;
    border-right-color: transparent;
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-top: none;
}

.flatPicker__day:nth-child(-n+7) {border: 1px solid #e9e9e9;}
.flatPicker__day:hover{ background-color: #cfcfcf;}




.selected{ color: #fff;background-color: var(--colorPrimary);}
.selected2{ color: #fff; background-color: var(--colorPrimary)}
.selected:hover{  color: #fff;background-color:var(--colorPrimary)}
.selected2:hover{  color: #fff;background-color: var(--colorPrimary)}

.bettwen{
    color: #fff; background-color: #e9bb95; 
}
.today:not(.selected) {border-color: transparent transparent #f64747 #e9e9e9;}
.today:hover { background-color: #f64747;}



.prev_next_Day{
 background-color: #c0c0c0;
 cursor: default;
 color: rgba(64,72,72,.3);
 background: transparent;
}
