.hero{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.heroImage{
width:1400px;
height: fit-content;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.heroText:not(.auth__heroText){
  font-family: 'Cormorant Garamond', serif;
  font-size: 96px;
  font-weight:0;
  color: #fff;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 

