@font-face{
    src: url('../Fonts/light.ttf') format("truetype");
    font-variant: small-caps;
    font-family:light;
}
@font-face{
    src: url('../Fonts/bold.ttf') format("truetype");
    font-family:bold;
}
@font-face{
    src: url('../Fonts/woff.woff2') format('woff2');
    font-variant: small-caps;
    font-family:woff;
}
.introduction{
    height: fit-content;
    color: var(--colorBlack);
}
h3{
    font-family:'bold';
    font-weight: 100;
    padding: 1rem 10rem;
    font-size: 1rem;
    text-align: center;
    text-justify: inter-word;
    line-height: 1.2em;
    font-size:3rem;
}


.introduction img{
    width: 421px;
}

.play-button{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% ,-50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 50%;
  border: none;
}
.play-button i{
  font-size: 1.5rem;
  color: rgb(14, 14, 14);
  transition: all .3s ease-in;
}
.video-block {
  cursor: pointer;
 position: relative;
 border: none;
 background-color: transparent;
}
.video-block:focus {
  outline: none;
}
.video-block:hover  .play-button i {
    color: var(--colorPrimaryLignt);

}
.video-block img {
 width: 100%;
}

.amneities{
  line-height: 2em;
}
