@media all and (max-width :500px){

    .hero{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .heroImage{
      width:1400px;
       top:-20%;
    }
    .heroText:not(.auth__heroText){
      font-size: 4rem;
    } 
    

}